body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg,
            rgba(64, 0, 0, 0.1) 0%,
            rgba(255, 255, 255, 1) 15%,
            rgba(255, 255, 255, 1) 85%,
            rgba(8, 0, 59, 0.1) 100%);
    background-attachment: fixed;
    min-height: 100vh;

}

@media (max-width: 768px) {
    body {

        background-color: #012169;
    }

    .container, .all {
        max-width: 90%;
    }
    .hero-section{
        font-size: 30px !important;
    }

}



.custom-nav {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 0.8rem 2rem;
}


.navbar-brand h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 700;
    text-decoration: underline dotted red 2px;
}


.botao-flutuante {
    position: fixed;
    top: 100px;
    left: -90px;
    background: #000;
    color: #fff;
    width: 140px;
    height: 45px;
    border-radius: 0 25px 25px 0;
    text-align: right;
    padding-right: 20px;
    line-height: 45px;
    cursor: pointer;
    z-index: 1050;
    transition: 0.3s;
}

.botao-flutuante:hover {
    left: -80px;
}


.all {
    font-family: 'Poppins';
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #333;
}



.content-section {
    background: rgba(255, 255, 255, 0.85);
    padding: 30px 40px;
    border-radius: 16px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.1);
}

.content-section h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #e76f51;
}

.content-section h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 25px;
    color: #146b61;
}

.content-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: #444;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}