body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg,
            rgba(64, 0, 0, 0.1) 0%,
            rgba(255, 255, 255, 1) 15%,
            rgba(255, 255, 255, 1) 85%,
            rgba(8, 0, 59, 0.1) 100%);
    background-attachment: fixed;
    min-height: 100vh;

}

@media (max-width: 768px) {
    body {

        background-color: #012169;
    }

    .container {
        max-width: 90%;
    }
}

.custom-nav {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 0.8rem 2rem;
}


.navbar-brand h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 700;
    text-decoration: underline dotted red 2px;
}

.info-australia {
    margin: 20px auto !important; 
    background-color: #f9f9f9;
    border-radius: 30px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    max-width: 1200px;
}

.dados-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
    transition: 0.3s ease;
    border: 1px solid #eee;
}

.card-info {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
    border: none;
}
@media (max-width: 768px) {
    .info-australia {
        margin: 10px !important;
        padding: 15px !important;
    }
    .titulo-modern {
        font-size: 20px;
    }
}


.botao-flutuante {
    position: fixed;
    top: 100px;
    left: -90px;
    background: #000;
    color: #fff;
    width: 140px;
    height: 45px;
    border-radius: 0 25px 25px 0;
    text-align: right;
    padding-right: 20px;
    line-height: 45px;
    cursor: pointer;
    z-index: 1050;
    transition: 0.3s;
}

.botao-flutuante:hover {
    left: -80px;
}