body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg,
            rgba(64, 0, 0, 0.1) 0%,
            rgba(255, 255, 255, 1) 15%,
            rgba(255, 255, 255, 1) 85%,
            rgba(8, 0, 59, 0.1) 100%);
    background-attachment: fixed;
    min-height: 100vh;
    
}
@media (max-width: 768px) {
    body {
        
        background-color: #012169;
    }
    .container{
        max-width: 90%;
    }
}

.custom-nav {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 0.8rem 2rem;
}


.navbar-brand h1 {
    font-size: 22px;
    margin: 0;
    font-weight: 700;
    text-decoration: underline dotted red 2px;
}
.foco-mapa {
    opacity: 0.1;
    margin: 0 auto;
}

.typing-box {
    font-size: clamp(1.5rem, 5vw, 3rem);
    color: #adadad;
    font-weight: 700;
    white-space: nowrap;
}

.typing {
    background-image: linear-gradient(to right, #012169, #e4002b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border-right: 3px solid #f56565;
}

.card1-img {
    box-shadow: -15px 15px 30px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: 0.4s;
}


.botao-flutuante {
    position: fixed;
    top: 100px;
    left: -90px;
    background: #000;
    color: #fff;
    width: 140px;
    height: 45px;
    border-radius: 0 25px 25px 0;
    text-align: right;
    padding-right: 20px;
    line-height: 45px;
    cursor: pointer;
    z-index: 1050;
    transition: 0.3s;
}

.botao-flutuante:hover {
    left: -80px;
}

footer {
    background: #f8f9fa;
    border-top: 1px solid #dee2e6;
}